@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Adjust this value as needed */
    transition: width 0.3s ease-in-out;
  }